html, body, div, p, img, span {
  margin: 0;
  padding: 0;
}

body {
  background-color: #EBEAED;
  width: 100vw;
  height: 100vh;
}

#nprogress .bar {
  background: #FFFFFF !important;
}

.is-active {
  cursor: pointer;
  background-color: #118ABC;
}

.wrapper {
  width: 100%;
  height: calc(100vh - 60px);
  background-color: #EBEAED;
}
